// GENERAL ///////////////////////////////////////////////////////////////////

body {
    background-color: $footer-color;
}

h1 {
    color: #fff;
    text-shadow: 0 2px 4px #000;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 20px;
}

h2.entry-title a {
    color: $link-color;
    font-weight: 700;
    font-size: 30px;
}

.more-link {
    font-weight: bold;
}

.category-description,
.tag-description,
.is-home-blog {
    background-color: $background-color-dark;
    margin-top: -3rem;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 2rem;
    width: calc(100% + 30px);
    padding-top: 2rem;
    padding-bottom: 5px;
    box-shadow: 0 1px 2px black;

    
}

.tag-description {
        text-transform: capitalize;
}

.carousel-home {
    margin-top: -3rem;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 3rem;
    box-shadow: 0 1px 2px black;
    cursor: pointer;

    img {
        cursor: pointer;
        height: 50vh;
        object-fit: cover;
    }

    .carousel-caption h5 {
        font-size: 50px;
        font-weight: bold;
    }

    a {
        color: white;
        text-shadow: 0 4px 8px black;
        transition: text-shadow 0.5s;

        &:hover {
            text-decoration: none;
            text-shadow: 0 0px 8px black;
            transition: text-shadow 0.5s;
        }

        &:active {
            text-decoration: none;
            text-shadow: 0 4px 8px black;
            transition: text-shadow 0.5s;
        }
    }

    .carousel-item::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: .3;
    }
}

.carousel-control-prev,
.carousel-control-next {
    opacity: 1 !important;
    transition: background-color 1s;

    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
        transition: background-color 1s;
    }
}

.carousel-indicators {
    margin-bottom: 0px;

    li {
        height: 20px;
        width: 60px;
        border-bottom: 0px;
        margin-bottom: 10px;
        border-top: 0px;
        margin-top: 10px;
        box-shadow: 0 1px 2px black;
        transition: box-shadow 1s;

        &.active {
            box-shadow: 0 4px 5px black;
            transition: box-shadow .5s;
        }
    }
}

.ads-wrapper-entry-posts-before {
    margin-bottom: 3rem;
}

.ads-wrapper-entry-posts-after {
    margin-top: 3rem;
}

.ads-wrapper>div {
    box-shadow: 0 0 3px 2px #639;
}

.wpcf7-form-control {
    padding: 5px 10px;
    border-radius: 10px;

    &.wpcf7-submit {
        padding: 20px;
    }
}

.wp-block-media-text {
    border: 1px dashed #bbb;
    margin-bottom: 20px;
}

.post-inner {
    margin-bottom: 20px;
}

@media only screen and (max-width: 990px) and (min-width: 768px) {
    .carousel-caption h5 {
        font-size: 40px !important;
    }

    .featured-image-figure,
    .carousel-home img {
        height: 400px !important;
    }
}

@media only screen and (max-width: 768px) {
    .carousel-caption h5 {
        font-size: 30px !important;
    }

    body {
        font-size: 120%;
    }

    .featured-image-figure,
    .carousel-home img {
        height: 300px !important;
    }
}

@media only screen and (max-width: 480px) {
    body {
        font-size: 140%;
    }

    .featured-image-figure,
    .carousel-home img {
        height: 200px !important;
    }
}
