

// TOP NAVBAR ///////////////////////////////////////////////////////////////////

nav {
    margin-left: -15px;
    margin-right: -15px;
    box-shadow: 0 1px 2px black;
}

.navbar {
    height: 50px;
}

.main-logo-img {
    height: 40px;
}

.dropdown-menu {
    box-shadow: 0 3px 4px black;
    margin-left: 2px;
    margin-right: 2px;
}

// Multilevel menu..
.menu-item-has-children>a::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

@media only screen and (min-width: 992px) {
    ul.dropdown-menu.show ul.dropdown-menu {
        left: 50px;
        top: 30px;
    }
}

@media only screen and (max-width: 1280px) {
    .btn-navbar-search {
        display: none;
    }
}

@media only screen and (max-width: 990px) {
    .form-navbar-search {
        display: none;
    }

    .navbar {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #header-menu-id {
        z-index: 20;
        background-color: rgb(52, 58, 64);
        padding: 0 20px 20px 20px;
        border-radius: 0 0 20px 20px;
        box-shadow: 0 3px 4px black;
    }
}
