@import "icomoon";

$background-color:#d0d0d0;
$background-color-dark:#bbb;
$background-color-footer-main: #3f4144;
$background-color-footer-post: #343a40;
$footer-color: $background-color;

$code-color: black;
$code-background-color: #aaa;

$link-color: 007bff;

@import "general";
@import "topnavbar";
@import "content";
@import "sidebar";
@import "footer";


// RESPONSIVE ///////////////////////////////////////////////////////////////////

@media (max-width: 768px) {

    .sign,
    .socials {
        text-align: center !important;
    }
}