@import "icomoon";

$background-color:#c0c0c0;
$background-color-footer-main: #3f4144;
$background-color-footer-post: #343a40;
$footer-color: $background-color;

$code-color: black;
$code-background-color: #aaa;

// GENERAL ///////////////////////////////////////////////////////////////////

body {
    background-color: $footer-color;
}

.carousel-home {
    margin-top: -3rem;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 3rem;
    box-shadow: 0 1px 2px black;

    img {
        cursor: pointer;
        height: 500px;
        object-fit: cover;
    }

    .carousel-caption h5 {
        font-size: 50px;
        text-shadow: 0 4px 5px black;
        font-weight: bold;
    }

    a:hover {
        color: white;
        text-decoration: none;
    }
}

.carousel-control-prev,
.carousel-control-next {
    opacity: 1 !important;
    transition: background-color 1s;

    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
        transition: background-color 1s;
    }
}

.carousel-indicators {
    margin-bottom: 0px;

    li {
        height: 20px;
        width: 60px;
        border-bottom: 0px;
        margin-bottom: 10px;
        border-top: 0px;
        margin-top: 10px;
        box-shadow: 0 1px 2px black;
        transition: box-shadow 1s;

        &.active {
            box-shadow: 0 4px 5px black;
            transition: box-shadow .5s;
        }
    }
}

.ads-wrapper>div {
    box-shadow: 0 0 3px 2px #639;
}

@media only screen and (max-width: 990px) and (min-width: 768px) {
    .carousel-caption h5 {
        font-size: 40px !important;
    }
}

@media only screen and (max-width: 768px) {
    .carousel-caption h5 {
        font-size: 30px !important;
    }
}

// TOP NAVBAR ///////////////////////////////////////////////////////////////////

nav {
    margin-left: -15px;
    margin-right: -15px;
    box-shadow: 0 1px 2px black;
}

.navbar {
    height: 50px;
}

.main-logo-img {
    height: 40px;
}

.dropdown-menu {
    box-shadow: 0 3px 4px black;
}

// Multilevel menu..
.menu-item-has-children>a::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

@media only screen and (min-width: 992px) {
    ul.dropdown-menu.show ul.dropdown-menu {
        left: 50px;
        top: 30px;
    }
}

@media only screen and (max-width: 1280px) {
    .btn-navbar-search {
        display: none;
    }
}

@media only screen and (max-width: 990px) {
    .form-navbar-search {
        display: none;
    }

    .navbar {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #header-menu-id {
        z-index: 2;
        background-color: rgb(52, 58, 64);
        padding: 0 20px 20px 20px;
        border-radius: 0 0 20px 20px;
        box-shadow: 0 3px 4px black;
    }
}

// MAIN CONTENT ///////////////////////////////////////////////////////////////////

pre,
.wp-block-content {
    background-color: $code-background-color !important;
    color: $code-color !important;
    padding: 2.5em;
    word-wrap: normal;
    white-space: pre-wrap !important;
    color: #313131;
    font-family: monospace !important;
}

.featured-image-figure {
    height: 500px;
    position: relative;
    overflow: hidden;
    margin-top: -3rem;
    margin-bottom: 3rem;
    margin-left: -15px;
    margin-right: -15px;
    box-shadow: 0 1px 2px black;

    img {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.pagination-single {
    margin-top: 3rem;
    margin-bottom: -3rem;
    padding: 20px;

    a {
        font-size: 20px;

        .icon {
            font-size: 30px;
            position: relative;
            top: 6px;
        }

        &:hover {
            text-decoration: none;
        }
    }
}

.comments-wrapper {
    padding: 10px;
    background-color: white;

    ol {
        padding-left: 0px;
    }

    li {
        padding-left: 10px;
        list-style: none;
    }

    .reply {
        padding: 10px;
    }

    .comment-body {
        border-left: 1px dashed #808080;
        padding-left: 10px;
        border-bottom: 1px dashed #808080;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .comment-reply-link {
        border: 1px solid;
        border-radius: 5px;
        padding: 5px;
    }

    .form-submit {
        margin-bottom: 0px;
    }

    .submit {
        background-color: lightgreen;
        border: 1px solid;
        padding: 20px;
        font-size: 20px;
    }


}

.post-edit-link {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 1px dashed;
}

// MAIN SIDEBAR ///////////////////////////////////////////////////////////////////

.sidebar-main-container {
    text-align: right;

    li {
        list-style: none;
    }
}

.sidebar-my-adds-col {
    margin: 0px 0px 40px 0px !important;
}

.sidebar-my-adds-col>div {
    padding: 0px;
    margin-top: 40px;
    box-shadow: rgb(102, 51, 153) 0px 0px 3px 2px;
}

// Styles extracted from Mailchimp..
.sidebar-mailchimp {
    #mc_embed_signup form {
        display: block;
        position: relative;
        text-align: left;
        padding: 10px;
    }

    #mc_embed_signup h2 {
        font-weight: bold;
        padding: 0;
        margin: 15px 0;
        font-size: 1.4em;
    }

    #mc_embed_signup input {
        border: 1px solid #ABB0B2;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    #mc_embed_signup input[type=checkbox] {
        -webkit-appearance: checkbox;
    }

    #mc_embed_signup input[type=radio] {
        -webkit-appearance: radio;
    }

    #mc_embed_signup input:focus {
        border-color: #333;
    }

    #mc_embed_signup .button {
        clear: both;
        background-color: #aaa;
        border: 0 none;
        border-radius: 4px;
        transition: all 0.23s ease-in-out 0s;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-size: 15px;
        font-weight: normal;
        height: 32px;
        line-height: 32px;
        margin: 0 5px 10px 0;
        padding: 0 22px;
        text-align: center;
        text-decoration: none;
        vertical-align: top;
        white-space: nowrap;
        width: auto;
    }

    #mc_embed_signup .button:hover {
        background-color: #777;
    }

    #mc_embed_signup .small-meta {
        font-size: 11px;
    }

    #mc_embed_signup .nowrap {
        white-space: nowrap;
    }

    #mc_embed_signup .mc-field-group {
        clear: left;
        position: relative;
        width: 96%;
        padding-bottom: 3%;
        min-height: 50px;
    }

    #mc_embed_signup .size1of2 {
        clear: none;
        float: left;
        display: inline-block;
        width: 46%;
        margin-right: 4%;
    }

    * html #mc_embed_signup .size1of2 {
        margin-right: 2%;
        // Fix for IE6 double margins.
    }

    #mc_embed_signup .mc-field-group label {
        display: block;
        margin-bottom: 3px;
    }

    #mc_embed_signup .mc-field-group input {
        display: block;
        width: 100%;
        padding: 8px 0;
        text-indent: 2%;
    }

    #mc_embed_signup .mc-field-group select {
        display: inline-block;
        width: 99%;
        padding: 5px 0;
        margin-bottom: 2px;
    }

    #mc_embed_signup .datefield,
    #mc_embed_signup .phonefield-us {
        padding: 5px 0;
    }

    #mc_embed_signup .datefield input,
    #mc_embed_signup .phonefield-us input {
        display: inline;
        width: 60px;
        margin: 0 2px;
        letter-spacing: 1px;
        text-align: center;
        padding: 5px 0 2px 0;
    }

    #mc_embed_signup .phonefield-us .phonearea input,
    #mc_embed_signup .phonefield-us .phonedetail1 input {
        width: 40px;
    }

    #mc_embed_signup .datefield .monthfield input,
    #mc_embed_signup .datefield .dayfield input {
        width: 30px;
    }

    #mc_embed_signup .datefield label,
    #mc_embed_signup .phonefield-us label {
        display: none;
    }

    #mc_embed_signup .indicates-required {
        text-align: right;
        font-size: 11px;
        margin-right: 4%;
    }

    #mc_embed_signup .asterisk {
        color: #e85c41;
        font-size: 150%;
        font-weight: normal;
        position: relative;
        top: 5px;
    }

    #mc_embed_signup .clear {
        clear: both;
    }

    #mc_embed_signup .mc-field-group.input-group ul {
        margin: 0;
        padding: 5px 0;
        list-style: none;
    }

    #mc_embed_signup .mc-field-group.input-group ul li {
        display: block;
        padding: 3px 0;
        margin: 0;
    }

    #mc_embed_signup .mc-field-group.input-group label {
        display: inline;
    }

    #mc_embed_signup .mc-field-group.input-group input {
        display: inline;
        width: auto;
        border: none;
    }

    #mc_embed_signup div#mce-responses {
        float: left;
        top: -1.4em;
        padding: 0em .5em 0em .5em;
        overflow: hidden;
        width: 90%;
        margin: 0 5%;
        clear: both;
    }

    #mc_embed_signup div.response {
        margin: 1em 0;
        padding: 1em .5em .5em 0;
        font-weight: bold;
        float: left;
        top: -1.5em;
        z-index: 1;
        width: 80%;
    }

    #mc_embed_signup #mce-error-response {
        display: none;
    }

    #mc_embed_signup #mce-success-response {
        color: #529214;
        display: none;
    }

    #mc_embed_signup label.error {
        display: block;
        float: none;
        width: auto;
        margin-left: 1.05em;
        text-align: left;
        padding: .5em 0;
    }

    #mc-embedded-subscribe {
        clear: both;
        width: auto;
        display: block;
        margin: 1em 0 1em 5%;
    }

    #mc_embed_signup #num-subscribers {
        font-size: 1.1em;
    }

    #mc_embed_signup #num-subscribers span {
        padding: .5em;
        border: 1px solid #ccc;
        margin-right: .5em;
        font-weight: bold;
    }

    #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
        display: inline-block;
        margin: 2px 0 1em 0;
        padding: 5px 10px;
        background-color: rgba(255, 255, 255, 0.85);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        font-size: 14px;
        font-weight: normal;
        z-index: 1;
        color: #e85c41;
    }

    #mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
        border: 2px solid #e85c41;
    }

    #mc_embed_signup {
        background: #fff;
        clear: left;
        font: 14px Helvetica, Arial, sans-serif;
    }

    #mc_embed_signup .mc-field-group {
        width: 100% !important;
    }

    .my-modal-centered {
        position: fixed;
        top: 50%;
        left: 50%;
        // bring your own prefixes
        transform: translate(-50%, -50%);
        z-index: 1000;
        border-radius: 10px;
        background-color: white;
        padding: 10px 20px 10px 10px;
        box-shadow: 0px 5px 15px black;
    }

    .my-modal-mailchimp {
        background-color: white;
        box-shadow: 0px 2px 2px black;
        border-radius: 10px;
        padding: 10px;
    }

    .my-modal-mailchimp:hover {
        transition: 1s;
        box-shadow: 0px 10px 10px black;
    }

    a.boxclose {
        float: right;
        margin-top: -18px;
        margin-right: -18px;
        cursor: pointer;
        color: #fff;
        box-shadow: 0px 2px 3px black;
        border-radius: 30px;
        background: #605F61;
        font-size: 31px;
        font-weight: bold;
        line-height: 0px;
        padding: 11px 3px;
    }

    .boxclose:before {
        content: "×";

    }

    .acceptance-label {
        margin-top: 5px;
    }
}

// FOOTER ///////////////////////////////////////////////////////////////////

/*.tag-cloud-link {
    font-size: 20px !important;
    border: 1px solid;
    display: inline-block;
    margin: 2px;
    padding: 2px;

    &:hover {
        text-decoration: none;
    }
}*/

.footer {
    color: $footer-color;

    a:hover {
        color: white;
    }
}

.footer-pre {

    >div {
        padding: 0px;
    }
}

.footer-main {
    background-color: $background-color-footer-main;

    .sidebar {
        padding: 20px;
    }

    li {
        list-style: none;
    }
}

.footer-post {
    background-color: $background-color-footer-post;

    .sign {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .socials {
        text-align: right;
        margin: 35px 20px;

        a {
            font-size: 40px;
            color: $footer-color;
            margin: 10px;

            &:hover {
                color: white;
                text-decoration: none;
            }
        }
    }
}

// RESPONSIVE ///////////////////////////////////////////////////////////////////

@media (max-width: 768px) {

    .sign,
    .socials {
        text-align: center !important;
    }
}